.ueberschrift {
    width: 100%;
    height: 100px;
    text-align: center;
    color: white;
}

.ueberschrift h2 {
    margin-top: 50px;
    font-size: 3rem;
    color: white;
}

.ueberschrift p {
    margin-top: 10px;
}

@media (max-width: 760px) {
    .ueberschrift {
        margin-bottom: 30px;
    }
}