.aktiv {
    border: 3px solid white;
    border-radius: 10px;
    width: 50px;
    height:40px;
    margin-right: 10px;
    margin-top:10px;
    flex: 1;
    background-color: #7ec3c9;
}

.aktiv:hover {
    cursor: pointer;
}

.inaktiv {
    border: 2px solid lightgray;
    border-radius: 10px;
    width: 50px;
    height:40px;
    margin-right: 10px;
    margin-top:10px;
    flex: 1;
}

.inaktiv:hover {
    cursor: pointer;
}

.inaktiv img {
    width:30px;
    margin-top: 2px;
    margin-left: 8px;
}

.aktiv img {
    width:30px;
    margin-top: 2px;
    margin-left: 8px;
}

@media (max-width: 768px) {
    .inaktiv {
    }

    .aktiv {
    }
}